<?xml version="1.0" encoding="ASCII"?>
<cloudRobotics:ConfigurationSystem xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cloudRobotics="http://miso.es/cloudRobotics" name="ConfigurationModel">
  <machines name="Virtual Machine 1">
    <components xsi:type="cloudRobotics:WebService"/>
    <components xsi:type="cloudRobotics:WebService"/>
    <components xsi:type="cloudRobotics:ComponentClass"/>
  </machines>
  <machines name="Virtual Machine 2">
    <components xsi:type="cloudRobotics:WebService"/>
    <components xsi:type="cloudRobotics:ComponentClass"/>
    <components xsi:type="cloudRobotics:WebService"/>
  </machines>
  <connections source="//@machines.0/@components.1" target="//@machines.0/@components.0"/>
  <connections source="//@machines.0/@components.0" target="//@machines.0/@components.2"/>
  <connections source="//@machines.0/@components.2" target="//@machines.1/@components.0"/>
  <connections source="//@machines.1/@components.0" target="//@machines.1/@components.1"/>
  <connections source="//@machines.1/@components.1" target="//@machines.1/@components.2"/>
</cloudRobotics:ConfigurationSystem>
