<plugin>
	<!--PROJECT MODULAR NATURE-->
	   <extension
         id="generalmodularnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.miso.cloud.robotic.modular.nature.GeneralProjectNature">
         </run>
      </runtime>
   </extension>
   <!--PROJECT WIZARDS-->
	<extension
         point="org.eclipse.ui.newWizards">
	 <!-- PROJECT CATEGORY -->
	 <category
            id="org.miso.cloud.robotic.modular.category.general"
            name="GeneralModular Project">
      </category>
	<!--WIZARD PROJECT WIZARD -->
	<wizard
			category="org.miso.cloud.robotic.modular.category.general"
			class="org.miso.cloud.robotic.modular.wizard.GeneralModularProjectWizard"
			name="General Modular Project"
			id="org.miso.cloud.robotic.modular.general.preoject.wizard"
			icon="icons/Pro.png"
			project="true"
	>
	</wizard>	
    <!--WIZARD PACKAGE WIZARD -->
		<wizard
			category="org.miso.cloud.robotic.modular.category.general"
			class="org.miso.cloud.robotic.modular.wizard.folder.CloudSystemCreateFolderWizard"
			name="CloudSystem Folder"
			id="org.miso.cloud.robotic.cloudsystem.general.cloudsystemNewPackage"
			icon="/org.miso.cloud.robotic/icons/cloudSystem.png"
			project="false"
		>
		</wizard>	
	 </extension>
	 <!--PROJECT NATURE ICON -->
	<extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/Pro.png"
            id="org.miso.cloud.robotic.modular.generalProject"
            natureId="org.miso.cloud.robotic.modular.generalmodularnature">
      </image>   
	</extension>
	<!--PROJECT NEW MENU -->
	<extension
         point="org.eclipse.ui.menus">
	<menuContribution
            allPopups="true"
            class="org.miso.cloud.robotic.modular.nature.CreateMenu"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=group.new">
         <menu
               id="GeneralModularProjectNewMenu"
               label="New General Modular Project"
               mnemonic="L">
             <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.miso.cloud.robotic.modular.generalmodularnature">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
	<!-- GENERATE GENERAL MODULAR MODEL MENU-->
    <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=group.new">
         <menu
               id="general.modular.project"
               label="General Modular Project"
               mnemonic="L">
            <command
                  commandId="org.miso.cloud.robotic.general.modular.contrib"
                  id="org.miso.cloud.robotic.modular.general.id"
                  label="Generate Complete Model"
                  mnemonic="L"
                  style="push">
			<visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           operator="and">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.miso.cloud.robotic.modular.generalmodularnature">
                        </test>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
	</extension>
	<!--HANDLERS -->
	<extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.miso.cloud.robotic.modular.nature.GenerateCompleteModel"
            commandId="org.miso.cloud.robotic.general.modular.contrib">
      </handler>
   </extension>	
 <!-- CONCORDANCE-->
 <extension
       point="org.eclipse.epsilon.concordance.core.ModelChangeListener">
    <listener
          changesDatabase="false"
          class="org.miso.cloud.robotic.modular.concordance.ModularReconcilerChangeListener">
    </listener>
 </extension>
 <extension
       point="org.eclipse.epsilon.concordance.core.ConcordanceModelFactory">
    <factory
          factory="org.miso.cloud.robotic.modular.concordance.ModularModelFactory">
    </factory>
 </extension>
</plugin>
