<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mindstorms-sample -->
      <package
            uri="http://www.obeo.fr/dsl/mindstorms/1.0.0"
            class="mindstorms.MindstormsPackage"
            genModel="mindstorms-sample.genmodel"/>
   </extension>

</plugin>
